body {
    font-family: "PT Sans", "Arial", serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;

}
.logo{
  position: absolute;
top:0;
left:50%;
margin-left:-69px;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: 000000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.setting h2{
  font-size: 16px;
  line-height: 21px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.setting label{
  font-size: 14px;
    font-weight: normal;
  color: white;
  text-transform: uppercase;
}
h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.sorting-detected h3{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  display: block;
  float: left;
}
p {
    font-size: 14px;
    line-height: 21px;
    color: 333333;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding-left: 40px;
    padding-right:40px;
}
label{
  font-size: 14px;
    font-weight: bold;
  color: 333333;
  text-transform: uppercase;
}
.preview-search a{
  font-size: 21px;
    font-weight: bold;
    text-align: center;
  color: white;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
margin-left: 316px;
margin-right: 316px;
width: 568px;
height: 86px;
line-height: 86px;
  background-color: #766357;
}
.post-search a{
  font-size: 21px;
    font-weight: bold;
    text-align: center;
  color: white;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
margin-left: auto;;
margin-right: auto;;
width: 458px;
height: 58px;
line-height: 58px;
  background-color: #81b3d2;
}

nav li{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 240px;
    vertical-align: top;
}

nav li:nth-child(2){
  margin-right: 240px;
}


nav a{
  text-decoration: none;
  color: 000000;


}
.slogan {
  border-top: 1px solid white;
  padding-top: 3px;
    width: 1200px;
    background-color: white;
}
.slogan::after {
    content: "";
    display: table;
    clear: both;
}
.slogan h2{
  font-size: 21px;
  font-weight: bold;
  color: 000000;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-top: 79px;
  padding-bottom:21px;
  padding-left: 400px;
  padding-right: 400px;
}
.slogan p{
  font-size: 14px;
  font-weight:normal;
  color: 000000;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-bottom:59px;
}


.features-first {
    padding-top: 1px;
    width: 1200px;
}
.features-first::after {
    content: "";
    display: table;
    clear: both;
}
.features-first h2{
  color:white;
}
.features-first p{
  color:white;
  display: block;
  padding-left: 40px;
  padding-right:40px;
  vertical-align: middle;
}
.features-second h2{
  color:white;
}
.features-second p{
  color:white;
  display: block;
  padding-left: 40px;
  padding-right:40px;
}
.features-first-item {
    background-color: #81b3d2;
    width: 400px;
    float: left;
    padding-top: 52px;
    padding-bottom: 52px;
}
.features-first-img {
    float: left;
}
.content-box {
    background-color:white;
    width: 400px;
    float: left;
    padding-top: 130px;
    padding-bottom: 52px;
}
.content-box::after {
    content: "";
    display: table;
    clear: both;
}
.features-second-item {
    background-color: #81b3d2;
    width: 400px;
    float: left;
    padding-top: 52px;
    padding-bottom: 52px;
}
.features-second-img {
    float: left;
}
.features-item {
    width: 400px;
    float: left;
    background-color: #eeeeee;
    padding-top: 55px;
    padding-bottom: 55px;
}
.preview-search {
    width: 1200px;
    float: left;
}
.advantages {
    width: 1200px;
    float: left;
}
.post-search {
    width: 1200px;
    float: left;
}
.map{
  width: 1200px;
  height: 593px;
  background:url(../img/map.jpg) no-repeat;
}
footer {
    padding-top: 20px;
    width: 1200px;
    float: right;
    padding-bottom: 40px;
    background-color: white;

}
.footer-visit {
    width: 400px;
    float: left;
    ;
}
.footer-social {
    width: 400px;
    float: left;
    ;
}
.footer-logo-html {
    width: 400px;
    float: right;
    ;
    ;
}
.setting {
    width: 1200px;
    height: 217px;

    float: left;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/hotels_background.jpg) no-repeat;
}
.setting-infra {
    width: 240px;
    float: left;
    padding-left: 72px;
    padding-top: 10px;
}
.setting-type {
    width: 487px;
    float: left;
    padding-left: 14px;
    padding-top: 10px;
}
.setting-cost {
    width: 327px;
    float: left;
    padding-top: 10px;
}
.sorting {
    width: 1200px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 72px;
}
.sorting::after {
    content: "";
    display: table;
    clear: both;
}

.sorting li {
  display: inline-block;
  margin-right: 30px;
  padding-left: 30px;
}
.sorting-value {
  ;
    width: 727px;
    float: left;
    padding-top: 30px;
    box-sizing: padding-box;
}
.sorting-button {
    width: 240px;
    float: right;
}
.sorting-value-name{
  font-size:12px;
  font-weight: normal;
  color: black;

}
.sorting-value a{

  font-size:12px;
  font-weight: normal;
  color: #b1b1b1;
  text-decoration: none;
  border-bottom: 1px dashed #b1b1b1;
}
.sorting-value a:hover {
    color: #81b3d2;
    text-decoration: none;
    border-bottom: 0px;
  }
.option {
    width: 1200px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 72px;
}
.title{
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: left;
  padding-top: 30px;
}
.option-description p{
  text-align: left;
  display:block;
  float: left;
  margin-right: 30px;
}

.option .info{
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: block;
  float: left;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
}
.option .block{
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: block;
    float: left;
    margin-left: 5px;
  background-color: #766357;
  width: 142px;
  height: 27px;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
}
.option-img {
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: auto;
}
.option-description {
    float: left;
}
.rating {
    float: right;
    margin-top: 93px;
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}

.block1{
  border-bottom: 1px solid white;
  width: 1200px;
  height: 509px;
background: url(../img/background_photo.jpg) no-repeat;

}

.block2{
  border: 0px;
  width: 1200px;
  height: 509px;
background: url(../img/promo.png) no-repeat;
}
.block3{
  border: 0px;
  width: 1200px;
  height: 509px;
background: url(../img/white_shapes.png) no-repeat;
}
