body {
    font-family: "PT Sans", "Arial", serif;
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px -4px rgba(0,1,1,1);
}

img{max-width:100%; height: auto;}

.shadow{
  display: inline-block;
    vertical-align: top;
    min-width: 786px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.2);
}

header {
    display: block;
    float: left;
}
nav {
    display: block;
    float: left;
    width: 1200px;
    background-color: white;
}
nav ul {
    padding-left: 0px;
    font-size: 0px;
}
nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 240px;
    vertical-align: center;
    margin-right: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}
nav li:nth-child(2) {
    margin-right: 240px;
}
.active {
    color: #766357;
}
.active:hover {
    color: #8a7d75;
}
.active:active {
    color: #d6d0cc;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: #89b8d5;
}
nav a:active {
    color: #c7c7c7;
}
.logo {
    width: 138px;
    height: 70px;
    background: url(../img/logo.png) no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
}
.promo {
    display: block;
    float: left;
    overflow: hidden;
}
.block1 {
    width: 1200px;
    height: 509px;
    background: url(../img/background_photo.jpg) no-repeat;
}
.block2 {
    border: 0px;
    width: 1200px;
    height: 509px;
    background: url(../img/promo.png) no-repeat;
}
.block3 {
    border: 0px;
    width: 1200px;
    height: 509px;
    background: url(../img/white_shapes.png) no-repeat;
}
.slogan {
    margin-top: -1px;
    display: block;
    float: left;
    width: 1200px;
    background-color: white;
    padding-top: 45px;
    padding-bottom: 50px;
}
.slogan h2 {
    display: block;
    padding-left: 380px;
    padding-right: 380px;
    margin-bottom: 26px;
    font-size: 21px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
    overflow: hidden;
}
.slogan p {
    display: block;
    font-size: 14px;
    font-weight: normal;
    ;
    color: black;
    text-align: center;
    line-height: 26px;
    text-transform: uppercase;
}
.features-first {
    width: 1200px;
    display: block;
    float: left;
    background-color: #81b3d2;
    margin-top: -11px;

}
.features-first-item {
    display: block;
    float: left;
    width: 400px;
}
.features-first-img {
    display: block;
    float: left;
}
.features-first-item h2 {
    display: block;
    padding-top: 35px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.features-first-item p {
    display: block;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content {
    display: block;
    float: left;
    width: 1200px;
    background-color: white;
    margin-top: -5px;
}
.content::before {
    content: "";
    width: 870;
    height: 76;
    position: absolute;
    top: -50px;
    left: 50%;
    background: red;
}
.content-box {
    display: block;
    padding-top: 144px;
    float: left;
    width: 400px;
}
.content-box h2::after {
    content: "";
    position: absolute;
    top: 1090px;
    left: 355px;
    width: 870px;
    height: 88px;
    background: url(../img/sprite2.png) no-repeat;
}
.content h2 {
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.content p {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 83px;
}
.features-second {
    width: 1200px;
    display: block;
    float: left;
    background-color: #81b3d2;
    margin-top: -1px;
    margin-bottom: -5px;
}
.features-second-img {
  background-color: #f2f2f2;
    display: block;
    float: left;
}
.features-second-item {
    display: block;
    float: left;
    width: 400px;
    padding-top: 20px;
}
.features-second-item h2 {
    display: block;
    padding-top: 17px;
    padding-left: 123px;
    padding-right: 123px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.features-second-item p {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.advantages {
    display: block;
    float: left;
    background-color: #eeeeee;
    width: 1200px;
}
.features-item {
    width: 400px;
    float: left;
    padding-top: 25px;
    padding-bottom: 37px;
}
.features-item h2 {
    display: block;
    padding-top: 5px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 21px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.features-item p {
    display: block;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.preview-search {
    display: block;
    float: left;
    width: 1200px;
    background: white;
    padding-top: 30px;
}
.preview-search h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: black;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.preview-search p {
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 49px;
    padding-left: 365px;
    padding-right: 365px;
    display: block;
}
.search {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 568px;
    line-height: 86px;
    background-color: #766357;
}



.map {
    display: block;
    float: left;
    width: 1200px;
z-index: 0;
}
footer {
    display: block;
    float: right;
    width: 1200px;
    background: white;
    opacity: 0.9;
}
.main-footer{
  margin-top: -125px;
  background: rgba(255, 255, 255, 0.9);

}


.footer-visit {
    width: 400px;
    float: left;
    display: block;
}
.title {
    display: block;
    font-size: 21px;
    font-weight: bold;
    color: black;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-social{
display: block;
float: left;
width: 400px;
text-align: center;
margin-right: 2px;
margin-top: 2px;
}

.social-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 1px;
background: #000000;
margin-top: 33px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;}

  .social-btn-twit{
    width: 46px;
    height: 48px;
    background:#f2f2f2 url("../img/spritesheet.png");
    background-position: -153px -2px;
  }
.social-btn-twit:hover{
    background-position: -203px -2px;
  }
  .social-btn-twit:active{
    background-position: -253px -2px;
}

  .social-btn-yt{
    width: 46px;
    height: 48px;
    background:#f2f2f2 url("../img/spritesheet.png");
    background-position: -471px -2px;
  }
  .social-btn-yt:hover{
      background-position: -521px -2px;
    }
    .social-btn-yt:active{
      background-position: -571px -2px;
  }

  .social-btn-fb{
    width: 46px;
    height: 48px;
    background:#f2f2f2 url("../img/spritesheet.png");
    background-position: -318px -2px;
  }
  .social-btn-fb:hover{
      background-position: -369px -2px;
    }
    .social-btn-fb:active{
      background-position: -420px -2px;
  }


.footer-html{
  width: 400px;
  display: block;
  float: right;
  text-align: center;
}


.footer-html-logo{
  display: inline-block;
  width: 195px;
  height: 39px;
  background:url("../img/spritesheet.png");
   background-position: -621px -2px;
   margin-top: -43px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}

.footer-html-logo:hover{
  width: 195px;
  height: 39px;
  background-position: -820px -2px;
}

.footer-html-logo:active{
background-position: -1019px -2px;
}

.setting {
    width: 1200px;
    height: 217px;
    float: left;
    display: block;
    background:#f2f2f2 url(../img/hotels_background.jpg) no-repeat;
}
.setting-infra{
  display: block;
  float: left;
  width: 218px;
  padding-left: 72px;
  margin-right: 38px;
}
.setting h2 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: block;
    float: left;
    margin-top: 28px;
}
.setting-infra-category{
  display: block;
  float: left;
  margin-left: 35px;
  margin-top: -57px;

}
.setting-filter{
  display: block;
  float: left;
  width: 250px;
}
.setting-filter-category{
  display: block;
  float: left;
  margin-left: -55px;
  margin-top: 2px;
}
.setting label{
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
}


.setting ul{
  font-size:0px;
  display: block;
  float: left;
  margin-left: -40px;
  margin-top: 50px;
}

.setting li{
  display: block;
  margin-bottom: 25px;
  margin-top: 20px;
margin-left: -37px;
}

input[type="checkbox"]{
    display:none;
}
input[type="checkbox"] + label{
  cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 22px;
    width: 26px;
    margin: 0 15px -5px 0;
    background-image: url("../img/spritesheet_check.png");
    background-repeat: no-repeat;
    background-position: -2px -2px;
}
input[type="checkbox"] + label:hover {
    background-position: -28px -2px;
}
input[type="checkbox"]:checked + label::before {
    background-position: -80px -2px;
}
input[type="checkbox"]:checked + label:hover {
    background-position: -110px -2px;
}
input[type="checkbox"]:disabled + label::before {
    background-position: -54px -2px;
}
input[type="checkbox"]:checked:disabled + label::before {
    background-position: -140px -2px;}





.filter-range {
  display: block;
  float: right;
  width: 320px;
margin-right: 72px;
margin-top: 33px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title{
  margin-left: -5px;
  margin-bottom: 10px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 10px;
}

.price-controls {
  position: relative;

  height: 30px;
top:10px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 29px;
cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin-top: 30;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  display: block;
  position: relative;
  top:9px;
  left: 2px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
margin-top: 43px;
margin-left: 88px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.sorting {
    display: block;
    float: left;
    width: 1200px;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding-left: 72px;

}
.sorting h3 {
    font-size: 21px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    display: block;
    float: left;
    padding-top: 10px;
    margin-right: 48px;
}
.sorting ul {
    font-size: 0px;

}
.sorting li {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    vertical-align: center;
    margin-right: 40px;
    text-align: center;
    line-height: 86px;
    padding-top: 3px;
}

.sorting li:nth-child(2){
margin-right: 33px;
}

.sorting li:nth-child(3){
margin-right: 33px;
}
.sorting .sorting-type {
    color: #d1d1d1;
    text-decoration: none;
}

.sorting-controls{
  box-sizing:inherit;
  display:block;
  float: right;
}

.sorting .sorting-type:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.sorting .sorting-type:active {
    color: black;
    text-decoration: none;
    border-bottom: 0px;
}
.sorting .pushed {
    color: #81b3d2;
}

.sorting-controls{
  display: block;
  float: right;
  font-size: 0;
  margin-right: 72px;
  padding-top: 43px;
}

.arrow-ascending{
  display: inline-block;
  font-size: 0;
  width: 11px;
  height: 10px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -2px -2px;
  margin-right: 12px;
  text-decoration: none;
  border-bottom: 0px;
}

.arrow-ascending:hover{
background-position: -1218px -2px;
text-decoration: none;
border-bottom: 0px;
}

.arrow-ascending:active{
background-position: -1248px -2px;
text-decoration: none;
border-bottom: 0px;
}

.arrow-descending{
  display: inline-block;
  font-size: 0;
  width: 11px;
   height: 10px;
   background: url("../img/spritesheet.png") no-repeat;
   background-position: -303px -2px;
   text-decoration: none;
   border-bottom: 0px;
   text-decoration: none;
}

.arrow-descending:hover{
background-position: -1233px -2px;
text-decoration: none;
border-bottom: 0px;
}

.arrow-descending:active{
background-position: -1263px -2px;
text-decoration: none;
border-bottom: 0px;
}

.sorting-controls .down-active{
background-position: -1263px -2px;
text-decoration: none;
border-bottom: 0px;
}

.option {
    display: block;
    float: left;
    width: 1200px;
    border-bottom: 1px solid #e5e5e5;
    background: white;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}
.option-img {
    width: 135px;
    height: 90px;
    margin-left: 72px;
    display: block;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    background-color: #f2f2f2;

}
.option-description {
    width: 363px;
    display: block;
    float: left;
    margin-top: -6px;
}
.place {
    display: block;
    float: left;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-right: 100px;
    margin-bottom:-5px;
}
.place:hover {
    color: #81b3d2;
}
.place:active {
    color: #cacaca;
}
.option-text{
  display: block;
  float: left;
}

.option-btn{
  display: block;
  float: left;
}

.option-description p {
    display: block;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: black;
    width: 110px;
    margin-right: 7px;
}

.item-description{
  max-width: 70%;
  }


.info {
    display: inline-block;
    float: left;
    padding-left: 17px;
    padding-right: 17px;
    background: #81b3d2;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 27px;
    color: white;
    text-decoration: none;
margin-right: 7px;

}
.info:hover {
    background: #669ec0;
}
.info:active {
    color: #88b6d1;
    background: #669ec0;
}
.block {
    display: inline-block;
    float: left;
    padding-left: 17px;
    padding-right: 17px;
    background: #766357;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 27px;
    color: white;
    text-decoration: none;
}
.block:hover {
    background: #604e43;
}
.block:active {
    color: #857871;
    background: #604e43;
}

.option-rating{
  display: block;
  float: right;
  width: 200px;
}


.option-rating .stars{
  display: inline-block;
  float: right;
  width: 89px;
  height: 17px;
  background:url("../img/spritesheet.png") no-repeat;
  background-position: -1278px -2px;
  margin-bottom: 45px;
  margin-right: 72px;
}

.option-rating .rate{
    display: block;
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    background-color: #f2f2f2;
    width: 110px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 72px;
}

.option-rating .stars-villas{
  width: 70px;
  margin-right: 65px;
}

.option-rating .stars-dezert{
  width: 50px;
  margin-right: 65px;
}

.search-content{
    display: none;
    width: 568px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 7px;
    position: absolute;
    left: 32%;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-content label{
font-family: "PT Sans", "Arial", serif;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
color: black;
display: block;
float: left;
margin-right: 22px;
margin-left: 57px;
}


.date-span{
  display: block;
  float: left;
}

.date-span input{
  background-color: #f2f2f2;
  border: 1px solid #ebebeb;
  width: 324px;
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  padding:8px;
  padding-left: 15px;
  display: block;
  float: right;
  margin-top: -10px;
  margin-bottom: 40px;
}

.date-span input:hover{
background-color: #ebebeb;
}

.date-span input:focus{
background-color: white;
outline:none;
border: 1px solid #ebebeb;
}

.search-content .checkout{
margin-right: 18px;
}

.search-content .search-calendar-checkout {
width: 21px;
height: 22px;
background: url("../img/spritesheet.png") no-repeat;
background-position: -78px -2px;
position:absolute;
top: 32.5%;
right: 41px;
font-size: 0;
cursor: pointer;
}

.search-content .search-calendar-checkout:hover{
background-position: -103px -2px;
}

.search-content .search-calendar-checkout:active{
background-position: -128px -2px;
}


.search-content .search-calendar-checkin {
width: 21px;
height: 22px;
background: url("../img/spritesheet.png") no-repeat;
background-position: -78px -2px;
position:absolute;
top: 15.7%;
right: 41px;
font-size: 0;
cursor: pointer;
}

.search-content .search-calendar-checkin:hover{
background-position: -103px -2px;
}

.search-content .search-calendar-checkin:active{
background-position: -128px -2px;
}


.search-content .input-wrapper{
  display: block;
  float: left;
  background-color: #f2f2f2;
  margin-bottom: 18px;
}

.adults label{
  display: block;
  float: left;
  margin-top: 1px;
  padding-left: -1px;
  margin-right: 40px;
}

.children label{
  display: block;
  float: left;
  margin-top: 1px;
  margin-right: 25px;
}


.adults .input-wrapper{
  display: block;
  float: left;
margin-top: -7px;
}
.adults .input-wrapper:hover{
background-color: #ebebeb;
}


.children .input-wrapper{
  display: block;
  float: left;
margin-top: -7px;
}
.children .input-wrapper:hover{
background-color: #ebebeb;
}

.adults input{
  display: block;
  float: left;
  background-color:transparent;
  border: 0px;
  margin-top: 10px;
  width: 45px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin-top: 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.adults .search-form-plus{
  display: block;
  float: left;
  background-color:#f2f2f2;
  font-size: 0px;
  margin-left: 12px;
  margin-top: 14px;
  margin-right: 13px;
  margin-left: 8px;
width: 11px;
height: 11px;
background: url("../img/spritesheet.png") no-repeat;
background-position: -33px -2px;
}

.adults .search-form-plus:hover{
background-position: -48px -2px;
}

.children .search-form-plus:hover{
background-position: -48px -2px;
}

.adults .search-form-plus:active{
background-position: -63px -2px;
}

.children .search-form-plus:active{
background-position: -63px -2px;
}

.adults .search-form-minus:hover{
background-position: -1387px -2px;
}

.children .search-form-minus:hover{
background-position: -1387px -2px;
}

.adults .search-form-minus:active{
background-position: -17px -2px;
}

.children .search-form-minus:active{
background-position: -17px -2px;
}

.adults .search-form-minus{
  display: block;
  float: left;
  background-color:#f2f2f2;
  font-size: 0px;
  margin-left: 12px;
  margin-top: 17px;
  margin-right: 12px;
  width: 12px;
  height: 3px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -1371px -2px;
}

.children input{
  display: block;
  float: left;
  background-color:transparent;
  border: 0px;
  margin-top: 10px;
  width: 45px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin-top: 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}


.children .search-form-plus{
  display: block;
  float: left;
  background-color:#f2f2f2;
  font-size: 0px;
  margin-left: 12px;
  margin-top: 14px;
  margin-right: 13px;
  margin-left: 8px;
width: 11px;
height: 11px;
background: url("../img/spritesheet.png") no-repeat;
background-position: -33px -2px;
}


.children .search-form-minus{
  display: block;
  float: left;
  background-color:#f2f2f2;
  font-size: 0px;
  margin-left: 12px;
  margin-top: 17px;
  margin-right: 12px;
  width: 12px;
  height: 3px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -1371px -2px;
}



  .search-content .search-btn{
    display: block;
    float: right;
    width: 458px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 37px;
    height: 58px;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 0px;
    background-color: #81b3d2;
    margin-bottom: 50px;  }

    .search-content .search-btn:hover{
    background-color: #669ec0;
    }

    .search-content .search-btn:active{
    background-color: #5496bd;
     color: #88b6d1;
    }

    @keyframes move {
     0% {transform: translateY(0px); opacity: 0.2;}
     50% {transform: translateY(100px);}
     100% {transform: translateY(0px);}
}

    .search-content-show {
    display: block;
    animation-name: move;
    animation-duration:1s;
    animation-timing-function:ease-in;
}
